body {
    background-color: rgb(17, 8, 2);
    background-size: cover;
  
    
}
.rep1  { 
    color: wheat;
    position:  relative ; left : 40 ;  ;
}
.txt1 { 
    bottom: 90;
    font-size: 30;
    color: rgba(248, 236, 236, 0.952);
    position: relative ; left : 600    ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.junior {
    position: relative;
top: 15px; left: 100px;
    overflow:hidden;
    -webkit-border-radius:180px;
    -moz-border-radius:180px;
    border-radius:180px;
    width:180px;
    height:180px;
}
.txt2 { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30;
    bottom: 90;
    
    color: rgba(248, 236, 236, 0.952);

    position: relative ; left : 600 ; ;
}
.rep2 {color: wheat;
    position:  relative ; left : 40 ;  ;

}
.hamza { position :relative ; bottom: 70px ; left: 20  ;
    width: 400 ;
    height: 500;
    
}
.txt3 {color: rgba(248, 236, 236, 0.952);
    position: relative ; left : 600 ; ;
    
    font-size: 30;
    bottom: 620;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.rep3
{color: wheat;
    position:  relative ; left : 40 ;  

}
.txt4 
{font-size: 30;
    color: rgba(248, 236, 236, 0.952);
    position: relative ; left : 600 ; ;
    
    font-size: 30;
    bottom: 620;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.rep4
{color: wheat;
    position:  relative ; left : 40 ;  


}
.rep5 {color: wheat;
    position:  relative ; left : 40 ;

}
a { font-size: 30;
    position: relative; left: 100 ;
    color: seashell;
    position: relative center ;
}
h1 {
    color: snow;
}
h2 {color: rgba(248, 236, 236, 0.952);
    position: relative ; left : 600 ;

    font-size: 30;
    bottom: 720;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

ol
{color: wheat;
    position:  relative ; left : 650 ;
    font-size: 30;
    bottom: 720;

}
.etude 
{ bottom: 570;
    font-size: 30;
    color: rgba(248, 236, 236, 0.952);
    position: relative ; left : 600    ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.rep6 
{color: wheat;
    position:  relative ; left : 40 ;  

}